
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "variable";

html, body {
    overflow-x: hidden;
}
body {
  font-family: $font-family;
  line-height: 1.6; 
  margin: 0;
  background-color: $white-color;
   color: $blak-color;
}
a{
  color: $blu-color;
  transition: .2s;

  &:hover{
    text-decoration: none;
    color: $orang-color;
  }
}
img{
  display: block;
}
::placeholder {
  color: $light-color !important;
}
.heading h2 {
  @include heading-prop;
  padding: 0px 0 50px 0;
}
.Sign-in-bg-img {
    background-image: url('../images/login_bg.png');
    @include bg-img-prprty;
    height: 100vh;
    background-position: bottom;
    background-color: #f8f9fd;

    .logo {
      width: 40%;
      height: auto;
      margin: 0 auto;
      padding: 60px 40px ;
  
      img{
        width: $width;
      }
    }

    .sign-in-txt {
      width: 67%;
      text-align: center;
      margin: 0 auto;
      font-size: 25px;
  }
}
.sign-in-sec {
    width: 55%;
    margin: 0 auto;
}
.sign-in-form {

    .form-control {
      border-radius: 50px;
      margin-bottom: 30px;
      padding: 15px 20px;
      color: $blak-color;
      border: 1px solid $light-color;
      box-shadow: none;
    }
    .form-check {
      padding-left: 0;
      display: block;

      .form-check-input {
        margin-top: 2px;
        margin-left: 0;
      }
    
      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }

      label {
        position: relative;
        cursor: pointer;

        &::before {
          content:'';
          -webkit-appearance: none;
          background-color: transparent;
          border: 2px solid $light-color;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 11px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
      input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 10px;
        width: 7px;
        height: 15px;
        border: solid $blu-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
}
.blue-btn a, .blue-btn [type=submit] {
  color: $white-color;
  text-decoration: none;
  width: 100%;
  background-color: $blu-color;
  border-radius: 50px;
  margin: 30px 0; 
  padding: 15px 0px;
  text-align: center;
  display: block;
  transition: .4s;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover{
    background-color: $orang-color;
    color: $white-color;
  }
}
.or {
    margin-bottom: 15px;

    p {
      color: $light-color;
      padding: 10px 15px;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid $light-color;
  }
}
.social-media-link {
    margin-bottom: 40px;

    a {
      border: 1px solid $blu-color;
      padding: 15px 0;
      border-radius: 50px;
      width: 48%;

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
}
.last-line-sign-up {
    font-size: 18px;
}
.copyrit-txt p{
    color: $grey-color;
    text-align: center;
    font-size: $font-16;
    margin: 100px 0 0px 0;
}
/*----------forgot-pss------------*/
.forgot-img img {
    margin: 0 auto;
}
.forgot-heading{
    margin: 0 0 40px 0;

    h2 {
      font-size: 28px;
      margin: 20px 0;
      padding: 0;
    }
    p {
        font-size: 20px;
        text-align: center;
        color: $grey-color;
    }
}
.two-btn-log-sub{

   a, > input {
    width: 30% !important;
    margin: 10px 0;
  }
}
/*-----------bloggers-blog-detail----------------*/
.blog-detail-bg-1{
  position: relative;
  background-image: url('../images/bg-1.jpg');
  height: 45vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    right: 0;
    left: 0;
  }
}
.banner-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    color: $white-color;
    font-size: 60px;
    position: absolute;
  }
}
.follow-btn{
  
  a {
    border: 2px solid $blu-color;
    padding: 5px 0px;
    border-radius: 50px;
    width: 110px;

    &:hover {
      border: 2px solid $blu-color;
        background: $blu-color;
        color: $white-color;
    }

    &:hover .white-plus {
      display: block;
    }
    &:hover .blue-plus {
        display: none;
    }
  }
  img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  .white-plus {
    display: none;
  }
}
.like-mess {

  img{
    height: 20px;
    margin-right: 6px;
    filter: grayscale(1);
  }
  a:hover img {
      filter: inherit;
  }
  span{
      font-size: 22px;
      color: $grey-color;
  }
}
.share-on p{
    font-size: 18px;
    color: $grey-color;
    margin-bottom: 0;
}
.social-icon{
  
  img{
    height: 24px;
    margin-left: 5px;
  }
  a:hover img {
    filter: invert(1);
  }
}
.blog-heading {
    font-size: 22px;
    margin-bottom: 10px;
}
.comment {
    position: relative;
    align-items: center;

    .form-control {
      padding: 25px 245px 25px 30px;
      margin-bottom: 0;
   }
}
.add-commnet {
    position: absolute;
    right: 13px;
}
.add-comment-sec{
  
  .profile-structure {
    display: block;
  }
  .user-profile {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 0 !important;
    padding: 0;

     img {
      width: $width;
      height: 100%;
      object-fit: cover;
    }
  }
}
.share-like{
  
  .like-mess span {
    font-size: $font-16;
  }
  img {
      transform: rotateY(180deg);
  }
}
.user-bell {
    display: flex;
    justify-content: flex-end;

    a img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      object-fit: cover;
    }

    .header-profile {
      margin-left: 30px;
      position: relative;
    }
}
.bloggers-blog-detail-last {
  justify-content: space-between;
  padding: 0 15px;
}
/*-------------blog-details--------------*/
.blog-comments-inner .white-block {
    padding: 20px;
    border-radius: 10px;
    margin-left: 62px;
}
.add_reply {
  margin-left: 62px;
}
.blog-comments-inner-reply {
    margin-left: 62px;
}
.add-comment-sec{

  .new_comment {
    position: relative;
  }
  #main_comment_error {
    position: absolute;
    margin-left: 25px;
  }
}
/*-----edit-profile-------*/
.edit-profile-sec {
    @include cont-wid;
}
.user {
    position: relative;

    .user-img {
      width: 200px;
      height: 200px;
      border: 4px solid $blu-color;
      padding: 0;
      border-radius: 100%;
      overflow: hidden;
      margin: 0 auto;

      img {
        width: $width;
        height: 100%;
        object-fit: cover;
      }
    }
    input {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      left: 0;
      z-index: 1;

      label {
        height: 100%;
        width: $width;
        margin-bottom: 0 !important;
      }
    }
    .user-txt{
      padding-top: 20px;
      font-size: 20px;
      text-align: center;
    }
}

.cam-icon {
    width: 45px;
    height: 45px;
    background-color: $blu-color;
    border-radius: 100%;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 155px;
    bottom: 85px;

    img {
      padding: 0;
    }
}
.edit-pro-form {
    width: 90%;
    margin: 0 auto;

  .sign-in-form .form-control{
      font-size: 18px;
  }
}
.edit-pro-form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blue-btn a, .edit-pro-form-btn .blue-btn [type=submit] {
      width: 130px;
      margin: 0;
      padding: 10px 0px;
    }

    .grey-btn a {
      color: $blak-color;
       text-decoration: none;
       width: 130px;
       background-color: #e8e8e8;
       border-radius: 50px;
       padding: 10px 0px;
       text-align: center;
       display: block;
       transition: .4s;

      a:hover {
        background: $orang-color;
        color: $white-color;
      }
   }
}
/*--------blogger-pro-------------*/
.blog-sort-btn {
    a {
      border: none;
      width: 220px;
      background: $white-color;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
      margin-bottom: 35px;
      padding: 10px 15px;

      &:hover {
        background-color: $orang-color;
        color: $white-color;
        border: none;
      }

       img {
        margin-right: 0;
        width: 20px;
        height: 20px;
      }
    }
}
.bloger-profile {

  .story-left-img {
    width: 21%;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .story-right-content {
    width: 78%;
    padding-left: 30px;
  }
  .story-title {
    font-size: 26px;
    margin-top: 5px;
    color: #000;

    &:hover {
      color: $orang-color;
    }
  }
  p{
    font-size: 18px;
  }
}
.profile-name{

  img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  a:hover img {
    filter: invert(1);
  }
}
.validation-msg {
  color: #ff0000;
  font-size: 14px;
  margin-left: 20px;
}

.small-user-with-cam-icon {
    position: relative;
    margin: -50px auto 10px;

    .user-img {
      width: 80px;
      height: 80px;
      border: none;
      border-radius: 100%;
      overflow: hidden;
      margin: 0 auto;
      background-color: $blu-color;

       img {
        width: 100%;
        padding: 15px;
      }
    }
    .cam-icon {
      width: 25px;
      height: 25px;
      background-color: #232323;
      border-radius: 100%;
      overflow: hidden;
      padding: 0;
      position: absolute;
      left: 93px;
      bottom: 20px;

      img {
        width: 100%;
        padding: 5px;
      }
    }
}
.field_with_errors .form-control {
    border-color: #ff0000;
}
.sign-in-form .field_with_errors .form-control{
    margin-bottom: 3px;
}
.send-btn{
    display: none;
}
/*---------------------------*/
.story-editor-cover {

  .ck.ck-toolbar.ck-toolbar_grouping {
    display: inline-block;
    border: 0;
    background: #f5f5f5;
    border-radius: 10px !important;
    padding: 4px 12px;
  }
  .ck.ck-content.ck-focused {
    outline: none !important;
    box-shadow: none;
    border-color: $light-color;
  }
  .ck.ck-content .ck-placeholder::before {
    color: $light-color !important;
  }
}
.like-mess [data-isliked="true"] img {
  filter: inherit;
}
.bloger-profile .story-left-img span.blog-lable {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 6px;
  color: $white-color;
  line-height: 1;
  padding: 6px 8px 4px;
  font-size: 14px;

  .draft {
    background: $orang-color;
  }
  .publish {
    background: #4caf50;
  }
}
.list-group.locations {
  max-height: 160px;
  overflow: auto;
}
.list-group-item.selected, .list-group-item:hover {
  background: $blu-color;
  color: $white-color;
  cursor: pointer;
}
.container-min-height {
  min-height: calc(100vh - 314px);
}
.story-dt sup {
  margin-right: 2px;
}
.profile-name a {
  color: #000 !important;

  &:hover {
    color: $orang-color !important;
  }
}
.story-editor-cover .location {
  background-image: url(location-blue.svg);
  background-size: 32px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  padding-right: 55px !important;
}
.opt-list {
  position: absolute;
  background: $white-color;
  min-width: 110px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 5px 0 3px;
  top: 25px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1;

  .open {
    opacity: 1;
    visibility:visible;
  }
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 14px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white-color;
  }
  a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1;
  }
}
.more-options {
  position: relative;
}
.story-editor-cover .cke_editor_story_description {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid $light-color;
}
.story-editor-cover .cke_toolbox a.cke_button {
  padding: 2px 3px;
}
.story-editor-cover .cke_bottom {
  padding: 6px 20px 3px;
}
.edit_comment {

  .validation-msg {
    margin: 0;
  }
  .comon-btn input, .edit_comment .comon-btn a {
    min-width: 110px !important;
    margin-left: 6px;
    text-align: center;
  }
}
.ui-loader {
  display: none;
  z-index: 9999999;
  position: fixed;
  border: 0;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  flex-direction: column;
  justify-content: center;
}
.ui-loading .ui-loader {
  display: flex;
}
.hero-strip {
  background-image: url("");
  text-align: center;
  color: $white-color;
  padding: 50px 15px;
  text-transform: capitalize;
  background-position: center;
  position: relative;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0006;
  }
}
.hero-strip-title {
  font-size: 35px;
  margin-bottom: 0;
  position: relative;
}
/*---Notification---*/
.user-bell .notification {
  position: relative;
}
.notification-count {
  background: $blu-color;
  color: $white-color;
  font-size: 10px;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 12px;
  right: -3px;
  line-height: 1;
}
.notification-dw {
    position: fixed;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: #e5f3ff;
    right: 0;
    margin-top: 12px;
    padding: 10px 5px 10px 0;
    z-index: 99;
    border-radius: 11px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    border: 1px solid #bdd7ed;
    height: calc(100vh - 80px);

    ::before {
      content: "";
      position: absolute;
      right: 44%;
      top: -5px;
      height: 9px;
      width: 9px;
      background: #e5f3ff;
      transform: rotate(45deg);
      border-top: 1px solid #bdd7ed;
      border-left: 1px solid #bdd7ed;
    }
    .notification-status {
      font-weight: normal;
    }
    .show, .notification-show {
      opacity: 1;
      visibility: visible;
    }
    .profile-details {
      text-align: left;
      width: calc(100% - 50px);
    }
}
.notification-popup-title{
  h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    line-height: 1;
    padding-top: 8px;
  }  
}
.notification-cover{
  scrollbar-color: #c9c9c9 #f1f1f1 !important;
  scrollbar-width: thin !important;
  max-height: 88%;
  overflow-y: auto;
  padding-right: 0;

  .profile-structure.unread {
    background: #c9e6ff;
  }
  .profile-structure {
    padding: 10px;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-right: 0px !important;

    &:last-child {
      padding-bottom: 0;
      border: 0;
      margin-bottom: 0;
    }
  }
  .profile-name {
    font-size: $font-16;
  }
  &::-webkit-scrollbar {
    width: 6px; 
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  &::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
} 
.notification-info {
  line-height: 1.2;
  margin-bottom: 6px;
}
.notification-story-likes {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 8px;

  .story-like-img img {
    border-radius: 5px;
    width: 75px;
    height: 45px;
    margin-right: 8px;
    filter: none !important;
  }
}

.story-like-title a {
  color: #000;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-16;

  &:hover {
    color: $orang-color;
  }
}
.see-all-notification {
    padding: 8px 15px;
}
.listing{
  .tourist-place {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    li {
      width: 49%;

      &:last-child {
        margin-bottom: 0;
      }
      &:hover a::before {
        opacity: 0;
      }
      &:hover a span {
        opacity: 0;
      }
    }
    a {
      display: flex;
      align-items: center;
      line-height: 1.2;
      justify-content: center;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
  
      a::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.5;
        transition: 0.3s;
      }
    }
    span {
      position: absolute;
      color: $white-color;
      transition: 0.3s;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 90px;
    }
  }
}
.see-all-notification a {
    text-decoration: underline;
    text-underline-offset: 1px;
}
/*-------about-us-------*/
.about-page {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.about-descrip {
  width: 46%;
  margin-left: auto;
  padding-right: 5%;

  .page-heading {
    padding-left: 0;
  }
}
.abt-two-div {
  display: flex;
  align-items: center;
}
.about-img {
  width: 44%;
  margin-left: auto;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 50px 0 0 50px;
    -webkit-box-shadow: 0px 3px 10px 4px #00000059;
    box-shadow: 0px 3px 10px 4px #00000059;
  }
}
.con-img{
   width: 50%;
}
.about-para p{
  font-size: $font-16;
}
/*-----Contact-----*/
.contact-left {
  width: 65%;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}
.contact-page {
  align-items: center;
}
.contact-form {
  width: 40%;
  margin-left: -5%;
  padding: 40px !important;
  margin-bottom: 0 !important;

  .form-field {
    margin-bottom: 20px;
  }
  .form-control {
    border-radius: 50px;
    padding: 15px 20px;
    color: $blak-color;
    border: 1px solid $light-color;
    box-shadow: none;
  }
  textarea.form-control {
    height: 150px;
    border-radius: 25px;
    margin-bottom: 0;
  }
  .form-field.field_with_errors {
    margin-bottom: 5px;
  }
  .comon-btn {
    margin-top: 20px;
  }
}
/*---Thank you---*/

.thankyou-title {
  font-size: 35px;
  margin-top: 30px;
}
.white-block{
  .thankyou {
    width: 800px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
  }
  img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  p {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .comon-btn a {
    display: inline-block;
    margin-top: 40px;
  }
}
.no-notification{
  text-align: center;
  display: block;
}
/*--Sticky Header--*/
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.2s ease-in-out 0s;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideInDown;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
@keyframes slideInDown{0%{transform:translate3d(0,-100%,0);visibility:visible } 100%{transform:translate3d(0,0,0) } }

input#photo_camera {
  display: none;
}
/*----Notification Details Page----*/
.nf-details-pg {

  .nf-heading {
    align-items: center;
    margin-bottom: 20px;

     .nf-filters {
      margin-left: auto;
    }
  }
  span.notification-status {
    font-weight: normal;
  }
  .profile-details {
      width: calc(100% - 60px);
  }
  .nf-desc {
      font-weight: normal;
      font-size: 15px;
      line-height: 1.4;
      color: $grey-color;
      margin-top: 6px;
  }
  .profile-name {
      position: relative;

      .profile-subtitle {
        position: absolute;
        right: 0;
        top: 0;
    }
  }
  .profile-structure {
      padding: 0 0 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid #eee;
      align-items: center;
  }
  .notification-story-likes {
      margin-bottom: 0;
  }
  .notification-info {
      margin-bottom: 0;
  }
  .profile-subtitle {
      line-height: 1.6 !important;
      margin-left: auto;
  }
  .user-profile {
      margin-bottom: auto;
  }
}


.nf-filters .btn {
    border-radius: 30px;
    padding: 6px 20px;
    margin-left: 8px;
    background: $blu-color;
    color: $white-color;
    line-height: 1.5;

    .btn:hover {
      background: $orang-color !important;
    }
}
/*---------media-query------*/
@media only screen and (max-width: 1699px){
.container-min-height {
  min-height: calc(100vh - 207px);
}
.sign-in-sec {
    width: 70%;
    margin: 20px auto;
}
.heading h2 {
    font-size: 35px;
    text-align: center;
    padding: 0px 0 30px 0;
}
.sign-in-form .form-control {
    margin-bottom: 20px;
    padding: 13px 20px;

}
.blue-btn a, .blue-btn [type=submit] {
    margin: 20px 0;
}
.or {
    margin-bottom: 0;
}
.social-media-link {
    margin-bottom: 20px;
}
.copyrit-txt p {
    margin: 30px 0 0px 0;
}
.forgot-heading p {
    font-size: 18px;
}
.comment .form-control {
    padding: 20px 200px 20px 25px !important;
    margin-bottom: 0 !important;
}
.banner-heading h1 {
    font-size: 50px;
}
.blog-comments-inner .white-block, .add_reply {
    margin-left: 50px;
}
.user-img {
    width: 180px;
    height: 180px;
}
.cam-icon {
    width: 40px;
    height: 40px;
    left: 144px;
    bottom: 90px;
}
.edit-pro-form .sign-in-form .form-control {
    font-size: $font-16;
}
.edit-profile-sec {
    width: 60%;
}
.bloggers-blog-detail-last {
    justify-content: space-between;
    padding: 0 15px;
}
/*-------about-us-------*/
.about-img img {
  height: 60vh;
}
.about-page {
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-descrip {
  padding-right: 0;
}
/*-----Contact-----*/
.contact-form {
  padding: 35px !important;

  .contact-form .form-control {
    padding: 12px 20px;
  }
}
.contact-left img {
  height: 500px;
}
.notification-dw {
    height: calc(100vh - 70px);

    &::before {
      right: 36%;
  }
}
}
/*----------------------------------------*/
@media only screen and (max-width: 1400px){
.container-min-height {
  min-height: calc(100vh - 220px);
}
.sign-in-sec {
    width: 70%;
}
.sign-in-txt p{
    font-size: 20px;
}
.forgot-heading{

  p {
    font-size: 17px;
  }
  .forgot-heading h2 {
      font-size: 26px;
  }
} 
.sign-in-form .form-control {
    margin-bottom: 15px;
    padding: 11px 20px;
}
.heading h2 {
    font-size: 33px;
    text-align: center;
    padding: 0 0 20px 0;
}
.blue-btn a, .blue-btn [type=submit] {
    margin: 15px 0;
    padding: 12px 0px;
}
.or p {
    font-size: 18px;
    margin-bottom: 10px;
}
.social-media-link a {
    padding: 10px 0;
}
.banner-heading h1 {
    font-size: 40px;
}
.add-commnet {
   right: 10px;
}
.comment .form-control {
    padding: 18px 200px 18px 25px !important;
}
.row.mb-5.add-comment-sec {
    align-items: center;

    .profile-structure .user-profile {
      width: 55px;
      height: 55px;
    }
}
.edit-pro-form .sign-in-form .form-control {
    font-size: 15px;
}
.user-txt {
     font-size: 18px;
}
.edit-profile-sec {
    width: 65%;
}
.user-img {
    width: 150px;
    height: 150px;
}
.cam-icon {
    width: 40px;
    height: 40px;
    left: 121px;
    bottom: 83px;
}
.social-icon img {
  height: 20px;
}
.share-on p {
  font-size: $font-16;
}
.logo {
  width: 35%;
  padding: 50px 0 30px;
}
.notification-dw::before {
    right: 33%;
}
}
/*----------------------------------------*/
@media only screen and (max-width: 1300px){
  .sign-in-txt p{
      font-size: 18px;
  }
  .heading h2 {
      font-size: 30px;
  }
  .forgot-heading {
      margin: 0 0 30px 0;

      h2 {
        margin-top: 10px;
        font-size: 25px;
      }
  }
  .two-btn-log-sub a {
      width: 34%;
      margin: 10px 0;
  }
  .last-line-sign-up {
      font-size: $font-16;
  }
  .blog-heading {
      font-size: 20px;
  }
  .banner-heading h1 {
      font-size: 35px;
  }
  .like-mess span {
      font-size: 20px;
  }
  .row.mb-5.add-comment-sec {
      margin-bottom: 30px !important;
  }
  .share-on-with-icon{
      margin-bottom: 30px !important;
  }
  .user-img {
      width: 140px;
      height: 140px;
  }
  .cam-icon {
      width: 35px;
      height: 35px;
      left: 111px;
      bottom: 83px;
      padding: 7px;
  }
  .edit-profile-sec {
      width: 67%;
  }
  /*----About us----*/
  .about-page {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .about-descrip {
    width: 48%;
    padding-right: 2%;
  }
  .notification-dw::before {
    right: 28%;
  }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 1200px){
  .container-min-height {
    min-height: calc(100vh - 227px);
  }
  a{
    font-size: 14px;
  }
  .last-line-sign-up {
      font-size: 14px;
  }
  .sign-in-form .form-control {
      font-size: 14px;
  }
  label.form-check-label {
      font-size: 14px;
  }
  .form-check{

    label:before {
      padding: 8px;
      margin-right: 8px;
    }
    input:checked + label:after {
      top: 3px;
      left: 8px;
      width: 6px;
      height: 12px;
    }
  } 
  .sign-in-txt p{
      margin-bottom: 0;
      font-size: $font-16;
  }
  .heading h2 {
      font-size: 26px;
  }
  .social-media-link{
    a {
      padding: 12px 0;
    }
    .social-media-link img {
       width: 18px;
       height: 18px;
       margin-right: 7px;
    }
  }
  .or {
      margin-bottom: 0;

      p {
        font-size: $font-16;
     }
  }
  .copyrit-txt p {
      font-size: 14px;
  }
  .forgot-heading {
      margin: 0 0 25px 0;

      h2 {
        font-size: 23px;
         padding: 0;
         margin: 10px 0;
      }
  }
  .two-btn-log-sub a {
      margin: 10px 0;
  }
  .sign-in-txt p {
      font-size: 22px;
  }
  .share-on-with-icon {
      margin-bottom: 15px !important;
  }
  .add-comment-sec {
      margin-bottom: 15px !important;

      .profile-structure .user-profile {
        width: 45px;
        height: 45px;
      }
  }
  .banner-heading h1 {
      font-size: 30px;
  }
  .comment .form-control {
      padding: 15px 200px 15px 25px !important;
  }
  .add-commnet {
      right: 7px;
  }
  .like-mess span {
      font-size: 18px;
  }
  .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $blu-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    overflow: hidden;
  }
  .edit-profile-sec{
    .white-block {
      margin-bottom: 0;
    }
    .edit-profile-sec .container {
      max-width: 100% !important;
      padding: 0;
    }
  } 
  .edit-pro-form .sign-in-form .form-control {
      font-size: 14px;
  }
  .baloggers-blog-details .comon-btn{
      margin-left: 20px !important;
  }
  .hero-strip-title {
    font-size: 26px;
  }
  /*----About us----*/
  .about-para p {
    font-size: 14px;
  }
  }

  @media only screen and (max-width: 1100px){
    .sign-in-sec {
      width: 60%;
    }
    section.Sign-in {
      display: flex;
      align-items: center;
      height: 100vh;
      background: $white-color;
    }
    .inner-sec-sign {
        display: block;

        .col-lg-6{
          max-width: 100%;
        }
    }
    .Sign-in-bg-img {
        background-image: none;
        height: auto;
        background-color: $white-color;
    }
    .logo {
        width: 250px;
        padding: 20px 0;
    }
    .sign-in-txt {
        width: 48%;
    }
    }

  /*----------------------------------------*/
  @media only screen and (max-width: 992px){
  .container-min-height {
    min-height: calc(100vh - 207px);
  }
  .logo {
    width: 230px;
    padding: 30px 0;
  }
  .sign-in-txt {
      width: 60%;

      p {
        font-size: 22px;
      }
  }
  .social-media-link {
      display: block !important;

      a{
        width: 100%;
        margin-bottom: 10px;
      }
  }
  .heading h2 {
     padding: 0 0 10px 0;
  }
  .two-btn-log-sub a {
      width: 27%;
  }
  .forgot-img img {
      margin: 0 auto;
      width: 180px;
  }
  .share-on p {
      font-size: $font-16;
  }
  .like-mess span {
      font-size: $font-16;
  }
  .social-icon img {
      height: 18px;
  }
  .blog-heading {
      font-size: 18px;
  }
  .add-comment-sec .col-md-11 {
      padding-left: 15px !important;
  }
  .blog-comments .white-block {
      margin-top: 0 !important;
      padding: 15px;
  }
  .blog-comments-inner p {
      margin-bottom: 8px;
  }
  .share-like .like-mess span {
      font-size: 14px;
  }
  .like-mess img {
      height: $font-16;
  }
  .comment .form-control {
      padding: 12px 200px 12px 25px !important;
  }
  .edit-profile-sec {
      width: 85%;
  }
  .user-img {
      width: 120px;
      height: 120px;
  }
  .cam-icon {
      width: 30px;
      height: 30px;
      left: 98px;
      bottom: 78px;
      padding: 5px;

      .cam-icon img {
        padding: 0;
      }
  }
  .user-txt {
      font-size: $font-16;
  }
  /*.baloggers-blog-details .profile-structure{
      margin-right: 20px !important;
  }
  .baloggers-blog-details .like-mess{
      margin-right: 10px !important;
  }
  .baloggers-blog-details .share-on{
      margin-right: 10px !important;
  }
  .baloggers-blog-details .meassge-icon-withnumber{
      margin-right: 10px;
  }*/
  .baloggers-blog-details{

    .author-with-follow {
      justify-content: space-between;
    }
    .messge-with-social-icon{
      margin-bottom: 5px;
      margin-top: 15px;
    }
  } 
  .edit_comment .comon-btn input, .edit_comment .comon-btn a {
    min-width: 90px !important;
  } 
  /*----About us----*/
  .abt-two-div {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .about-descrip {
    width: 100%;
    margin-left: unset;
    padding-right: 0;
  }
  .about-img {
    width: 100%;
    margin-left: unset;
    margin-top: 30px;

    img {
      border-radius: 20px;
      height: auto;
    }
  }
  .abt-two-div .about-descrip .page-heading {
    text-align: center;
  }
  .about-descrip .section-title {
    font-size: 24px;
  }
  /*-----Contact-----*/
  .contact-page {
    flex-flow: wrap;

    .contact-form {
      width: 100%;
      margin: 0 !important;
      border-radius: 0 0 15px 15px;
    }
  }
  .contact-left {
    width: 100%;

    img {
      height: auto;
      border-radius: 15px 15px 0 0;
    }
  }
  .notification-dw::before {
    right: 25%;
  }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 767px){
  
  .logo {
      width: 210px;
       padding: 15px 0;
  }
  .sign-in-sec {
      width: 75%;
      margin-top:15px;
  }
  .sign-in-txt p {
      font-size: 18px;
  }
  .form-check input:checked + label:after {
      top: 3px;
      left: 7px;
      width: 6px;
      height: 12px;
  }
  .last-line-sign-up {
      font-size: 14px;
      padding-bottom: 20px;
  }
  .Sign-in-bg-img {
      height: auto;
      background-image: none;
      background-color: transparent;
  }
  .forgot-heading{
    h2 {
      font-size: 20px;
      padding: 0;
    }
    .forgot-heading p {
      font-size: 15px;
    }
  } 
  .copyrit-txt p {
      margin: 0;
  }
  .or p {
      padding: 9px 12px;
          font-size: 14px;
  }
  .two-btn-log-sub {
      margin-bottom: 20px;

      a {
        margin: 0;
      }
  }
  .forgot-img {
      margin-top: 0;

      img {
        margin: 0 auto;
        width: 150px;
      }
  }
  .add-comment-sec{

    .col-sm-11 {
      padding-left: 15px !important;
      width: 90%;
    }
    .col-md-1 {
      width: 10%;
    }
    .profile-structure .user-profile {
      width: 40px;
      height: 40px;
    }
  } 
  .comment .form-control {
      padding: 12px 160px 12px 20px !important;
  }
  .add-commnet {
      right: 6px;
  }
  .blog-comments-inner .white-block, .add_reply {
      margin-left: 45px;
  }
  .like-mess img {
      height: $font-16 !important;
  }
  .share-on p {
      font-size: 15px;
  }
  .blog-heading {
      font-size: 20px;
  }
  p{
      font-size: 14px;
  }
  .banner-heading h1 {
      font-size: 25px;
  }
  .user {
      margin: 10px 0 20px;
  }
  .edit-pro-form {
      width: 95%;
  }
  .edit-profile-sec .col-md-5.d-flex.align-items-center.justify-content-center.border-right {
      border-right: none !important;
  }
  .row.mb-5.add-comment-sec {
    margin-bottom: 30px !important;
  
    #main_comment_error {
      margin-left: 20px;
    }
  }
  .edit_comment .sign-in-form{

    #add_comment {
      flex-flow: wrap;
    }
    .form-control {
      margin-bottom: 10px !important;
    }
  }
  .hero-strip {
    padding:15px 10px;
  }
  /*----About us----*/
  .about-page {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .notification-dw{

    &::before {
      right: 23%;
    }
    .notification-cover {
      max-height: 92%;
    }
  } 
  .notification-popup-title h2 {
    font-size: 18px;
    padding-top: 0px; 
  }
  .see-all-notification {
    padding: 5px 15px;
  }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 500px){
  .logo {
     width: 180px;
      padding: 20px 0 15px 0;
  }
  .sign-in-sec {
      width: 80%;
      margin-top: 15px;
  }
  .sign-in-txt {
      width: 80%;

      p {
        font-size: 14px;
      }
  }
  .heading h2 {
      font-size: 21px;
      margin-top: 0;
      padding: 0px 0 10px 0;
  }
  .forgot-heading h2 {
      font-size: 18px;
      padding: 0;
      margin-top: 10px;
  }
  .two-btn-log-sub a {
      width: 35%;
      margin-left: 8px !important;
  }
  .or p {
      padding: 7px 11px;
  }
  .forgot-img img {
      width: 130px;
  }
  .author-with-follow{
      justify-content: space-between;
  }
  .messge-with-social-icon {
      margin-top: 15px;
      justify-content: space-between !important;
  }
  .comment .form-control {
    padding: 10px 40px 10px 15px !important;
  }
  .blog-comments .white-block {
      padding: 10px;
  }
  .send-btn {
      display: block;
      right: 6px;
      position: absolute;
  
      a {
        display: block;
        padding: 5px;
        background-color: $blu-color;
        border-radius: 50px;
        width: 30px;
        height: 30px;

        img {
          width: 100%;
        }
      }
  
      button {
        display: block;
        padding: 6px;
        background-color: $blu-color;
        border-radius: 50px;
        width: 33px;
        height: 33px;
        border: 0;

        img {
          width: 100%;
        }
      }
  }
  .comon-btn.add-commnet{
      display: none;
  }
  .add-comment-sec{
    
    #main_comment_error {
      margin-left: 20px;
    }
    .profile-structure .user-profile {
      width: 35px;
      height: 35px;
    }
    .col-md-11 {
      padding-left: 30px !important;
    }
  } 
  .blog-comments-inner .white-block, .add_reply {
      margin-left: 0;
  }
  .blog-comments-inner-reply {
      margin-left:25px;
  }
  .edit-profile-sec {
      width: 90%;
  }
  .edit-pro-form {
      width: 100%;
  }
  .user {
      margin: 5px 0 0px;
  }
  .user-img {
      width: 100px;
      height: 100px;
  }
  .user-txt {
      padding-top: 10px;
      font-size: 15px;
  }
  .cam-icon {
      width: 28px;
      height: 28px;
      left: 80px;
      bottom: 64px;
      padding: 5px;
  }
  .baloggers-blog-details{

    .like-mess.mr-4 {
      margin-right: 10px !important;
    }
    .share-on{
        margin-right: 5px !important;
    }
    .social-icon a{
        margin-right: 5px  !important;
    }
    .comon-btn{
        margin-left: 10px !important;
    }
    .messge-with-social-icon{
        margin-bottom: 5px;
        flex-flow: wrap;
    }
    .share-with-social{
      width: 100% !important;
      max-width: 100% !important;
      margin-top: 10px;
      justify-content: space-between;
    }
  } 
    .notification-story-likes .story-like-img img {
      width: 55px;
      height: 35px;
    }
    .story-like-title a {
      font-size: 14px;
    }
    .notification-dw {
      height: calc(100vh - 60px);
      width: 300px;
    }
    /*----About us----*/
    .about-img {
      margin-top: 0;
    }
    .about-descrip .section-title {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 360px){
  .logo {
      width: 160px;
     padding:15px 0 7px 0;
  }
  .heading h2 {
      font-size: 18px;
      padding: 0;
  }
  .sign-in-form .form-control {
      margin-bottom: 10px;
      padding: 8px 20px;
  }
  .blue-btn a {
      margin: 10px 0;
      padding: 10px 0px;
  }
  .last-line-sign-up {
      font-size: 13px;
      padding-bottom: 10px;
  }
  .copyrit-txt p {
      font-size: 12px;
  }
  .baloggers-blog-details .share-on {
      margin-right: 10px !important;
  }
  .author-with-follow .profile-name .profile-subtitle {
      margin-top: 5px;
      margin-left: 0 !important;
  }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 360px){
  
  .two-btn-log-sub a {
      width: 120px;
  }
  .blog-comments-inner-reply {
      margin-left: 35px;
  }
  .notification-dw {
    width: 250px;
    right: -25px;
    padding: 10px;

    .profile-name .profile-subtitle {
      margin-left: 0 !important;
      font-size: 13px;
    }
  }
  .notification-cover .profile-name {
      font-size: 14px;
  }
  .show-loader{

    input {
      padding-right: 50px !important;
    }
    .fa-spinner {
      position: absolute;
      top: $font-16;
      right: 26px;
      color: $white-color;
      font-size: 18px;
    }
  } 
  .timeline-loader {
    text-align: center;

    i.fa.fa-spinner.fa-spin.fa-6 {
      font-size: 35px;
      color: $blu-color;
    }
  }
  }
  /*----------------------------------------*/
  @media only screen and (max-width: 330px){
      .share-on.mr-4 {
      margin-right: 10px !important;
  }
  }
  
  @media screen and (max-height:680px){
  section.Sign-in {
      align-items: flex-start;
      min-height: 100vh;
  }
  }